* {
    padding: 0;
    margin:0;
    }

    body {background-color: antiquewhite;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        padding: 1em;
        
    }

    ul  {
        background-color: black;
    }
